@import "../../global.scss";

.contact {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;  

  @include mobile {
    flex-direction: column;
  }

  h1 {
    justify-content: center;
    color: $mainColor;
    margin: 50px;

  }

  .success-message {
    color:white;
    animation: fadein;
    transition: 0.3s;
  }

  form {
    color: $mainColor;
    flex: 1;
    display: flex;
    align-items: center;
    width: 75%;
    height: 50%;
    flex-direction: column;

    input {
      border-radius: 10px;
      margin: 10px;
      width: 25%;
      height: 30px;
    }

    textarea {
      height: 300px;
      width: 60%;
      border-radius: 10px;
      margin: 10px;
    }
    button {
      width: 150px;
      height: 30px;
      color: white;
      background-color: $accentColor;
      border: none;
      border-radius: 10px;
      position: relative;
      font-weight: 500;
      margin-left: 10px;
  
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
    }

  }

}